/* Add your CSS here */
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
}

header{
    width: 100%;
    height: auto;
    background-image: linear-gradient(130deg, rgb(37, 163, 221), rgb(6, 48, 104));
    background-color: #cccccc;
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
    padding-top: 20px;
    img{
        width: 7%;
        max-width: 80px;
        height: auto;
        margin-top: 10px;
    }
    h1{
        font-size: 4em;
        color: white;
        border-bottom: double 8px rgb(57, 189, 241);
        border-radius: 30%;
        margin-top: 0;
    }
    p{
        color: white;
        font-size: 1.5em;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }
}

section{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    gap: 30px;
    margin: 0 auto;
    max-width: 1450px;
    height: auto;
}

.card{
    text-align: center;
    background-color: rgb(184, 191, 201);
    border-radius: 10%;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.18s ease-in-out;
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: 3%;
    h2{
        font-size: 2em;
        font-weight: 800;
    }
    h3{
        font-size: 1.7em;
        text-decoration: underline;
        text-underline-offset: 20px;
        font-weight: 400;
        
    }
}

img{
    width: 400px;
    height: 250px;
    object-fit: fill;
    border-radius: 10%;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: rgb(22, 42, 73);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    p{
        color: white;
        font-size: 120%;
        text-align: left;
        margin: 10%;
    }
}

.card:hover, .card:focus{
    transform: scale(1.1);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
}

.card:hover .overlay, .card:focus .overlay{
    opacity: 90%;
}

@media(max-width: 700px){
    section{
        flex-direction: column;
        max-width: 100%;
        overflow-x: hidden;
    }

    .card{
        width: 80%;
        img{
            width: 100%;
        }
    }
}

@media(max-width: 1200px){
    section{
        max-width: 100%;
        overflow-x: auto;
        max-width: 900px;
    }
}

p.info{
    text-align: center;
    background-color: rgb(184, 191, 201);
    border: solid rgb(184, 191, 201);
    font-weight: 500;
    font-size: 1.3em;
    justify-content: end;
    margin: 0 auto;
}